<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>VOIP55</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='admin-styles.css')}}">

<!-- Animate on page load css -->
 <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!--      kit script source-->

    <script src="https://kit.fontawesome.com/b527bec78a.js" crossorigin="anonymous"></script>


</head>
<body>



{% block body %}
{% endblock %}
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- script for animate on screen load -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
                AOS.init();
        </script>

<script src="{{url_for('static', filename='script.js')}}"></script>
<script src="{{url_for('static', filename='scriptTwo.js')}}"></script> <!--- this one is for the admin dashboard page -->
<script src="{{url_for('static', filename='scriptSupplier.js')}}"></script><!--- this one is for the supplier dashboard page -->
<!-- <script src="{{url_for('static', filename='scriptThree.js')}}"></script> -->
<!-- three is for the main dashboard -->
</body>
</html>