<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Success!</title>
</head>
<body>
<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">Your details have been registered and awaiting confirmation to be logged in.</p>
  <hr class="my-4">
  <p>If you've been confirmed.</p>
  <a class="btn-css headers-special" href="/login" role="button">Log In</a>
</div>

</body>
</html>